.table {
  $_: '.table';

  .cell {
    &--btn-remove,
    &--btn-add {
      min-width: 60px;
      width: 60px;
      padding-left: 0;
    }
    &--amount {
      span {
        width: 30px;
        display: inline-block;
        text-align: center;
        border-bottom: 1px solid gray;
      }
    }
    &--number {
      line-height: 40px;
      text-align: right;
      width: 38px;
      white-space: nowrap;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}
